body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1E1E1E;
    color: #FFFFFF;
  }
  
  #login-section, #user-info, #logout-button {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    flex-direction: column;
    align-items: center;
  }

  #user-info{
    display: none;
  }
  
  #user-creation-section {
    width: 300px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
  }
  
  #user-list {
    color: #FFFFFF;
    overflow-x: auto; /* Allow horizontal scrolling if necessary */
    flex-direction: column;
    align-items: center;
  }
  
  #user-list table {
    width: 80%; /* Reduce the width to 80% */
    border-collapse: collapse;
  }
  
  #user-list table, #user-list th, #user-list td {
    border: 1px solid #555;
  }
  
  #user-list th, #user-list td {
    padding: 10px;
    text-align: left;
  }
  
  #user-list th {
    background-color: #333;
    color: #BB86FC;
  }
  
  #user-creation-section, #user-list {
    display: none; /* Initially hide these sections */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #logout-button {
    width: 95%; /* Set a fixed width for the logout button */
  }
  
  /* Button hover effect */
  button:hover {
    background-color: #0056b3;
  }
  
  input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    background-color: #1E1E1E;
    color: #FFFFFF;
  }
  
  input[type="text"], input[type="password"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    background-color: #1E1E1E;
    color: #FFFFFF;
  }
  
